html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.header-logo,.header-vol,.header-index{
    width: 100px;
}
#index{
    position: absolute;
    top: -1000px;
    width: 100%;
    height: 100%;
    background-image: url('images/index_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms linear;
    text-align: center;
}
.index__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}
.index-arrow{
    position: absolute;
    bottom: 70px;
    font-size:2em;
    left:50%;
    transform: translateX(-50%);
    display: block;
}
.index__article{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 125px;
}
.article{
    font-size: 2em;
    margin: 25px 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms linear;
}
.article:hover{
    background-color: #000000;
    color: #FFFFFF;
}
#main1{
    width: 100%;
    height: 100%;
    background-image: url('images/main001.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#main2{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    position: relative;
}
.main2-2021{
    width: 20%;
    margin-top: 50px;
}
.main2-desc{
    color:#FFFFFF;
    margin-top: 30px;
}
.main2-earth{
    width: 50%;
    margin-top: 70px;
}
.main-arrow{
    position: absolute;
    bottom: 30px;
    color:#000000;
    font-size: 20px;
}
#main3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    text-align: center;
    position: relative;
}
.main3-image{
    width: 50%;
}
#main4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#000000;
    color:white;
    text-align: center;
}
.main4-logo{
    width: 25%;
    margin-top: 40px;
}
.main4-desc{
    margin-top: 25px;
}
.main4-vol{
    margin-top: 50px;
}
.main4__boxes{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 30px;
}
.box{
    width: 250px;
    height: 250px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.box-top,.box-bottom{
    font-size: 12px;

}
.box-main{
    font-size: 25px;
}
.main4-warning{
    margin-top: 50px;
}
.contact{
    display: flex;
    justify-content: space-around;
    background-color:#000000;
    color:#FFFFFF;
    height: 150px;
}
.contact__left{
    margin-top: 70px;
}
.left{
    display: inline-block;
    padding-right:20px;
    padding-top:10px;
}
.contact__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}
.right-logo{
    width: 120px;
}
.right-info{
    margin-top:10px;
}
.intro-main-arrow{
    margin-bottom: 30px;
    color:#000000;
    font-size: 2em;
}
#intro-main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}
.intro-main1-content{
    width: 70%;
    display: flex;
    justify-content: center;
    margin:auto;
}
.content-center{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content-center-span{
    display: flex;
    flex-direction: column;
    margin-top:200px;
}
.center-title{
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 15px;
}
#intro-main2{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.intro-main2-content{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.intro-main2-image{

}
.intro-main2-desc{
    align-self: center;
}
#intro-main3{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.intro-main3-content{
    width: 50%;
    height: 80%;
    margin: auto;
}
.intro-main3-image{
    display: flex;
    margin: 80px 0;
}
.intro-main3-desc{
    display: block;
    margin: auto;
    width: 50%;
}
#intro-main4{
    width: 100%;
    height: 100%;
}