html{
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;

}
body{
    margin: 0;
   text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
section,footer{
    display: block;
    scroll-snap-align: start;
}
a{
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.header-logo,.header-vol,.header-index{
    width: 100px;
}
.header-logo,.header-index{
    cursor: pointer;
}
#index{
    position: absolute;
    top: -1000px;
    width: 100%;
    height: 100%;
    background-image: url('images/index_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms linear;
    text-align: center;
}
.index__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}
.index-arrow{
    position: absolute;
    bottom: 70px;
    font-size:2em;
    left:50%;
    transform: translateX(-50%);
    display: block;
    cursor: pointer;
}
.index__article{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 125px;
}
.article{
    font-size: 2em;
    margin: 25px 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms linear;
    width: fit-content;
    padding: 3px;
}
.article:hover{
    background-color: #000000;
    color: #FFFFFF;
}
#main1{
    width: 100%;
    height: 100%;
    background-image: url('images/main001.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#main2{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    position: relative;
}
.main2-2021{
    width: 20%;
    margin-top: 50px;
}
.main2-desc{
    color:#FFFFFF;
    margin-top: 30px;
}
.main2-earth{
    width: 50%;
    margin-top: 70px;
}
.main-arrow{
    position: absolute;
    bottom: 30px;
    color:#000000;
    font-size: 20px;
}
#main3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    text-align: center;
    position: relative;
}
.main3-image{
    width: 50%;
}
.main3-desc{
    position: absolute;
    top:50%;
    width: 30%;
    font-size: 0.8em;
}
#main4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#000000;
    color:white;
    text-align: center;
}
.main4-logo{
    width: 25%;
    margin-top: 100px;
}
.main4-desc{
    margin-top: 100px;
}
.main4-vol{
    margin-top: 150px;
    font-size: 1.3em;
    margin-bottom: 5px;
}
.main4__boxes{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 30px;
}
.box{
    width: 250px;
    height: 250px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 10px;
}
.box:hover{
    background-color: #FFFFFF80;
}
.box-top,.box-bottom{
    font-size: 12px;
}
.box-main{
    font-size: 25px;
}
.main4-warning{
    margin-top: 50px;
    margin-bottom: 150px;
}
.contact{
    display: flex;
    justify-content: space-around;
    background-color:#000000;
    color:#FFFFFF;
    height: 150px;
    text-align: start;

}
.contact__left{
    margin-top: 70px;
}
.contact-about, .contact-index{
    cursor: pointer;
}
.left{
    display: inline-block;
    padding-right:20px;
    padding-top:10px;
}
.contact__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}
.right-logo{
    width: 120px;
}
.right-info{
    margin-top:10px;
}
.intro-main-arrow{
    margin-bottom: 30px;
    color:#000000;
    font-size: 1.5em;
}
#intro-main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}
.intro-main1-content{
    width: 70%;
    display: flex;
    justify-content: center;
    margin:auto;
}
.content-center{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content-center-span{
    display: flex;
    flex-direction: column;
    margin-top:200px;
}
.center-title{
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 15px;
}
#intro-main2{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #000000;
}
.intro-main2-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.intro-main2-image{
    margin-right: 50px;
    width: 50%;
}
.intro-main2-desc{
    align-self: center;
    text-align:justify;
}
.intro-main2-desc-title{
    font-size: 1.5em;
}
.intro-main2-desc-desc{
    line-height: 28px;
}
#intro-main3{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.intro-main3-content{
    width: 50%;
    height: 80%;
    margin: auto;
}
.intro-main3-title{
    font-size: 1.5em;
}
.intro-main3-image{
    margin: 80px 0;
    width: 100%;
}
.intro-main3-desc{
    display: block;
    margin: auto;
    width: 60%;
    text-align:justify;
    line-height: 28px;
}
#intro-main4{
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-main4-content{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}
.intro-main4-desc{
    width: 70%;
    text-align:justify;
    line-height: 28px;
}
.main4-image-1{
    width: 65%;
    position: relative;
}
.main4-image-2{
    width: 50%;
    position: relative;
    top:-200px;
    left:250px;
}
.main4-image-3{
    position: relative;
    left:-270px;
}
.intro-main4-bottom{
    margin-bottom: 50px;
}
#intro-contact{
    background-color: #e5e5e5;
    color:black;
}
#infographic-main1{
    width: 100%;
    height: 100%;
    background-image: url('images/infographic/Asset 35.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infographic-main1-content{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infographic-main1-image{
    margin-top: 50px;
}
.infographic-main1-title{
    margin-top: 250px;
    font-size: 1.5em;
}
.infographic-arrow{
    position: absolute;
    bottom: 70px;
    font-size:2em;
    left:50%;
    transform: translateX(-50%);
    display: block;
}
#infographic-main2{

}
.infographic-main2-content{
    width: 10 0%;
}
.main2-content-top{
    margin-top: 130px;
    margin-bottom: 50px;
}
.main2-content{

}
.main2-content-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.content-section1{
    margin: 20px 0 ;
}
.content-section1-content{
    display: flex;
    align-items: center;
}
.main2-content-section2{
    margin-top:170px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.infographic-main4-bottom{
    margin: 60px 0;
}
#jueun{
    width: 40%;
    height: 100%;
    margin-left:20px;
    margin-top:-29px;
}
#infographic-contact{
    background-color: transparent;
    color: black;
    height: 100px;
    width: 100%;
    text-align: start;
}
#infographic-contact__right,#infographic-contact__left{
    margin-top:0;
}
#trend1-main1,#trend1-main2,#trend1-main3,#trend1-main4,#trend1-main5{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#trend1-main2,#trend1-main4{
    background-color: #FFFFFF;
}
.trend1-main1-image{
    width: 60%;
}
.trend-main-image{
    margin-top: 30px;
}
.trend-logo-image{
    width: 60%;
}
.trend-main-title{
    display: block;
    font-weight: bolder;
    font-size: 1.3em;
}
.trend-main-desc{
    width: 60%;
    font-size: 1.1em;
}
.trend1-main-bottom{
    margin-top:40px;
}
#trend1-contact{
    background-color: #FFFFFF;
    color:#000000;
    text-align: start;
}
#trend2-main1{
    background-image: url('images/trend2/Asset 28.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.trend2-main1-title{
    font-weight: bolder;
    margin-top:60px;
    font-size: 1.4em;
}
.trend2-main-arrow{
    position: absolute;
    bottom: 30px;
}
#trend2-main2{
    background-image: url('images/trend2/Asset 30.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trend2-main2-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 100px;
}
.trend2-main-bottom{
    color: #FFFFFF;
    margin:90px;
}
.trend2-main2-desc{
    text-align: justify;
    line-height: 30px;
    width: 50%;
    margin-left: 100px;
}
#main2-desc-title{
    font-weight: bolder;
    font-size: 1.3em;
}
#trend2-contact{
    background-color: transparent;
    width: 100%;
    text-align: start;
}
#goods{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.goods-image{
    margin-top: 200px;
}
.goods-desc{
    width: 70%;
    margin: 70px 0;
    font-size: 1.3em;
}
.goods-info{
    font-weight: bolder;
    margin-top: 30px;
}
.item{
    transition: all 200ms linear;
}
.item:hover{
    transform: scale(1.1);
}
.goods-items{
}
#blackpink{
    width: 55%;
}
#nct{
    width: 30%;
}
#shinee{
    width: 30%;
}
#txt{
    width: 30%;
    height: 40%;
}
#bigbang{
    width: 40%;
}
#winner{
    width: 40%;
}
#red{
    width:40%;
}
#aespa{

    width: 30%;
}
#goods-contact{
    color: #000000;
    background-color: #FFFFFF;
    text-align: start;
}
.bottomBtn:hover{
    transform: scale(1.1);
}

